/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	.container-report {
		margin-top: 33% !important;
		
	}
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.container-report {
		margin-top: 27% !important;
		
	}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.container-report {
		margin-top: 22% !important;
		
	}
 }

.container-report {
	height: 70vh;
	width: 100%;
	overflow-x: scroll;
}

.container-btn-report {
	position: absolute;
	top: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	width: 70vw;
}

.btn-report {
	margin-right: 15px;
	width: 70px;
}
.color-icons-success {
	color: #266b18 !important;
}
.color-icons-danger {
	color: #cf3535 !important;
}

table {
  font-family: arial;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table { 
  width: 100%;
  margin-bottom: 20px;
	color: #fff;
}

.table th,
.table td {
  font-weight: normal;
  font-size: 12px;
  padding: 8px 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
.table thead th {
  /* background: #eeeeee; */
  vertical-align: bottom;
}   
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  /* background-color: #fafafa; */
}    
.table .t-small {
  width: 5%;
}
.table .t-medium {
  width: 15%;
}
.table .t-status {
  font-weight: bold;
}
.table .t-active {
  color: #46a546;
}
.table .t-inactive {
  color: #e00300;
}
.table .t-draft {
  color: #f89406;
}
.table .t-scheduled {
  color: #049cdb;
}

/* Small Sizes */
@media (max-width: 480px) { 
  .table-action thead {
    display: none;
  }
  .table-action tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-action td {
    border: 0;
  }
  .table-action td:not(:first-child) {
    display: block;
  }
}

