.btn-back{
  position: absolute;
  top: 15px;
  left: 15px;
	border-radius: 100% !important;
	height: 30px !important;
	width: 30px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(219, 217, 217);
	z-index: 1001;
	cursor: pointer;
}
