.container-form-modal{
  width: 100%;
}

.form-group-modal{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.form-group-modal > input {
  padding: 5px;
  border-style: groove;
  border-radius: 5px;
  border-color: #282c34;
  width: 95%;
  height: 25px;
}

.modal-background{
  height: 100%;
  width: 100%;
  z-index: 1002;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(27, 27, 27, 0.856);
}

.modal{
  width: 70%;
  background: #fff;
  padding: 5%;  
  border-radius: 7px;
	z-index: 900;

}
.modal-head{
  display: flex;
  justify-content: flex-end;
}

.modal-head > span{
  font-size: 20px;
  font-weight: bold;
	height: 30px;
	width: 30px;
  padding: 5px;
  background: #ed3b3b;
  color: #ffffff;
  border-radius: 100%;
	font-size: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
