.container-gerar{
	display: 'flex';
	flex-direction: 'column';
	padding: 10px; 
}

.form-group > input {
	height: 45px;	
	background: #343741;
	border-radius: 15px;
	border: none;
	padding-left: 10px;
	color: #ffff;
	font-size: medium;
}
