.container-rifa{
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
	width: 100%;
	overflow-y: scroll;
	height: 85vh;
	
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181a20; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181a20; 
}

.app-rifa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 90px;
	margin: 10px;
	border-radius: 15px;
	font-size: calc(15px + 2vmin);	
}

.app-rifa > code {	
	font-size: calc(25px + 2vmin);	
}

.available {
	background: #1F222A;
  color: #fff;
	cursor: pointer;
}

.processing{
	background: rgb(255 184 18 / 44%);
	color: #fff;
}

.sold{
	background: rgb(247 72 77 / 54%);
	color: #fff;
}

